# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Project outputs
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
reports/figures/*
!reports/figures/.gitkeep

# Env / local files
.env
*.sqlite
*.db

# IDE
.vscode/
